* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-size: cover;
  width: 300px;
  height: 600px;
  font-family: "Roboto";
  overflow: hidden;
}

.first_banner {
  background-image: url(../imgs/Match_04.png);
  padding: 51px 28px 27px;
  opacity: 1;
  position: relative;
  z-index: 2;
}

.title {
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #2d8957;
  text-shadow: 0.910868px 0.910868px 3.64347px #3cba85;
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  /* -webkit-text-stroke: 2px white; */
}

.subtitle {
  font-weight: 400;
  text-align: center;
  color: #2d8957;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 31px;
}

.subtitle span {
  font-weight: 700;
}

.imgs {
  display: grid;
  grid-template-columns: 126.5px 126.5px;
  grid-template-rows: 130px 130px 130px;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.btn {
  width: 115px;
  /* border: 1px solid; */
}

.btn:focus {
  width: 126.5px;
}

.second_banner {
  background-image: url(../imgs/Match_05.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  height: 600px;
  padding: 50px 0;
  text-align: center;
}

.title span {
  font-size: 28px;
}

.buy_btn {
  font-family: inherit;
  font-style: italic;
  font-size: 30px;
  font-weight: 700;
  border-radius: 37px;
  padding: 5px 50px;
  color: #fff;
  background-color: #ff1e27;
  border: none;
  cursor: pointer;
}

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 4s ease-in both;
  animation: slide-out-bottom 4s ease-in both;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
